{% extends "index.html" %}

  {% block slide %}

  <!---- BLOCK SLIDE--------------------------------------------------------------------------------------------------->
    {% for slides in slide %}
      <section class="hero-wrap hero-wrap-2" style="background-image: url('{% if slides.image %} {{ slides.image.url }} {% endif %} ');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate mb-5 text-center">
          	<p class="breadcrumbs mb-0"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Blog <i class="fa fa-chevron-right"></i></span></p>
            <h2 class="mb-0 bread">Blog</h2>
          </div>
        </div>
      </div>
    </section>
  {% endfor %}
  {% endblock %}

 {% block aboutus %}{% endblock %}
 {% block technique %}{% endblock %}
 {% block testimony %}{% endblock %}
 {% block gallery %}{% endblock %}

 {% block blog %}
    <section class="ftco-section">
      <div class="container">


        <div class="row d-flex">
        {% for blog in blogs %}
          <div class="col-lg-6 d-flex align-items-stretch ftco-animate">
          	<div class="blog-entry d-flex">
          		<a href="blog-single.html" class="block-20 img" style="background-image: url('{% if blog.main_image %} {{ blog.main_image.url }} {% endif %}');">
              </a>
              <div class="text p-4 bg-light">
              	<div class="meta">
              		<p><span class="fa fa-calendar"></span> {{ blog.date_created }}  </p>
              	</div>
                <h3 class="heading mb-3"><a href="#">{{ blog.title }}</a></h3>
                <p>{{ blog.short_summery }}</p>
                <a href="#" class="btn-custom">Lexo më shumë... <span class="fa fa-long-arrow-right"></span></a>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>


        <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
 {% endblock %}

